.sider
    .inner-menu     
        ul
            li
                .dropdown 
                    .dropdown-text Search
                    i.fa-solid.fa-caret-down
                ul.sub-menu
                    li  
                        a(href="/search/linearsearch") Linear Search 
                    li  
                        a(href="/search/binarysearch") Binary Search 
                
            li
                .dropdown 
                    .dropdown-text Sort 
                    i.fa-solid.fa-caret-down
                ul.sub-menu
                    li  
                        a(href="/sort/interchangesort") Interchange Sort
                    li  
                        a(href="/sort/insertionsort") Insertion Sort
                    li  
                        a(href="/sort/selectionsort") Selection Sort
                    li  
                        a(href="/sort/bubblesort") Bubble Sort
                    li  
                        a(href="/sort/shakersort") Shaker Sort
                    li  
                        a(href="/sort/binaryinsertionsort") Binary Insertion Sort
                    li  
                        a(href="/sort/shellsort") Shell Sort
                    li  
                        a(href="/sort/mergesort") Merge Sort
                    li  
                        a(href="/sort/quicksort") Quick Sort
                    li  
                        a(href="/sort/heapsort") Heap Sort
                        
script(src="/event/dropdown.js") 
