extends ../../layouts/default.pug
include ../../mixins/search-form.pug

block main
    +base-search-form(pageTitle, "binarysearch", numbersString, numbersArray, numberFind)

    script(type="module" src="/js/algorithms/search/binarysearch.js")

    script(src="/js/helpers/random-binarysearch.js")
