extends ../../layouts/default.pug
include ../../mixins/sort-form.pug

block main
    +base-sort-form(pageTitle, "binaryinsertionsort", numbersArray)

    script(type="module" src="/js/binaryinsertionsort.js")
