extends ../../layouts/default.pug
include ../../mixins/sort-form.pug

block main
    +base-sort-form(pageTitle, "shakersort", numbersString, numbersArray)

    script(type="module" src="/js/shakersort.js")
